/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-weight: bold;
}

img {
  width: 100%;
}

header {
  background-color: #540B51;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}


h1 {
  margin: 0;
  color: #ffffff;
  font-size: 2.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #540B51;
}

nav img {
  width: 110px;
}

button {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffffff;
  color: #540B51;
  padding: 15px 0;
  width: 100%;
  box-shadow: none;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  padding: 20px;
  color: #454245;
}

footer small {
  margin: 20px 0;
}

hr {
  margin: 0;
  border: 1px solid #d9d9d9;
}

small {
  font-weight: lighter;
  display: block;
  color: #6f6c6f;
  text-align: center;
}

.menu {
  display: none;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
}

.nav-buttons button img {
  width: 22px;
  margin-left: 20px;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.invert-button {
  background-color: transparent;
  color: #ffffff;
}

.google-button {
  background-color: #4285F4;
  /*position: relative;*/
}

.google-button img {
  width: 40px;
  /*position: absolute;
  top: 0;
  left: 0;*/
}

.yellow-text {
  color: #ECB12F;
}

.blue-text {
  color: #2E71A6;
}

.companies {
  padding: 20px;
  background-color: #F3EAE2;
}

.companies p {

  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
}

.companies div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.companies div img {
  height: 35px;
  width: auto;
  margin: 15px 0;
}

.teams {
  text-align: center;
  padding: 20px;
}

.teams h3 {
  font-size: 2em;
  color: #540B51;

}

.teams ul {
  display: flex;
  flex-direction: column;
}

.teams ul li {
  padding: 0 70px;
  margin: 20px 0;
}

.teams ul li p {
  margin: 0;
}

.teams ul span {
  font-size: 3.5em;
  color: #540B51;
}

.welcome {
  background-color: #540B51;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.welcome h3 {
  font-size: 2em;
}

.menu-footer {
  display: flex;
  flex-direction: column;
}

.menu-footer li {
  margin: 15px 0;
}

.menu-footer .icons {
  display: flex;
  align-items: center;
}


.menu-footer .icons img {
  width: 18px;
  height: auto;
  margin-right: 8px;
}

.menu-social {
  display: flex;
  justify-content: space-between;
}

.menu-social .fab {
  font-size: 1.5em;
}